<header>
  <nav class="navbar navbar-expand-md navbar-light fixed-top navbar-transparente">
    <div class="sin-color">.............................</div>
    <div class="container-fluid">
      <%= link_to "/" do %>
        <%= image_tag("logo.png", width: 250, class: "navbar-brand") %>
      <% end %>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-principal" aria-controls="nav-principal" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars text-white"></i>
      </button>

      <div class="collapse navbar-collapse" id="nav-principal">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item sin-color">
            ...................................................................
            ..........................................................................................................
          </li>
          <li class="nav-item">
            <%= link_to 'Experiencia', experiencia_path, class: 'nav-link' %>
          </li>
          <li class="nav-item divisor"></li>
          <li class="nav-item">
            <%= link_to 'Servicios', servicios_path, class: 'nav-link' %>
          </li>
          <li class="nav-item divisor"></li>
          <li class="nav-item">
            <%= link_to 'Contacto', contacto_path, class: 'nav-link' %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
